<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">

            <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-lable" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <!-- <input type="file" name="image" multiple="true"> -->

                <div class="mb-3">
                    <label for="price" class="form-label">Campground Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required>
                        <span class="input-group-text">.00</span>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <!-- <div class="mb-3"> -->



                <!-- </div> -->
                <div class="mb-3">
                    <label class="form-lable" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description"
                        name="campground[description]"></textarea>
                </div>

                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label custom-file">Choose image(s)</label>
                    <input class="form-control custom-file-label" type="file" id="formFileMultiple" name="image">
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
            </form>
            <a href="/campgrounds">Back to Campground</a>
        </div>
    </div>